transformers==5.10.4
accelerate==1.13.0
numpy==2.2.6
soundfile==0.13.1
pydub==0.25.1
razdel==0.5.0
ebooklib==0.20
beautifulsoup4==4.15.0
pypdf==6.16.1
python-docx==1.2.0
charset-normalizer==3.4.7
lxml==6.1.0
filelock==3.24.2
Pillow==12.3.0
truststore==0.10.4
stable-ts==2.19.1
openai-whisper==20250625
miniaudio==1.71
